#==========================================================#
#                   CURSOR-CLIP CLIPBOARD                  #
#==========================================================#
# File: cursor-clip.service
# Purpose: GTK4 clipboard history manager for Wayland
# Last Updated: 2026-03-21
#==========================================================#

[Unit]
Description=GTK4 clipboard history manager for Wayland
Documentation=https://github.com/Sirulex/cursor-clip
After=wayland-session@hyprland.desktop.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=cursor-clip --daemon
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=wayland-session@hyprland.desktop.target
