/* Gruvbox Dark Hard Colors */
* {
    background:     #1d2021;
    background-alt: #3c3836;
    foreground:     #ebdbb2;
    selected:       #fabd2f;
    active:         #b8bb26;
    urgent:         #fb4934;
}
